@tailwind base;
@tailwind components;
@tailwind utilities;
  
.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

.button-transition {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-transition:hover {
  transform: scale(1.05);
}

.active-button {
  background-color: #f0f0f0;
  color: #121211;
}

.inactive-button {
  background-color: transparent;
  color: #fff;
}